p {color: #F8FAFC;}
body {background-color: #0F172A;
     margin-left: 10%; 
     margin-right: 10%;}
h2 {color: #06B6D4;}
h1 {color: #06B6D4;}
ul{color: #F8FAFC;}
form {color: #F8FAFC;}
input {color: #000000;}
label {color: #F8FAFC;}
button {color: #1E293B;}
ol {color: #F8FAFC;}
a:link {color: green;}
a:visited {color: purple;}
a:hover {color: red;}
a:active {color: blue;}

#contactForm {
    background-color: #1E293B;
    margin: 10%;
    padding: 5%;
    border-radius: 5px;
}
#CF {
    color: #06B6D4;
    text-align: center;
    padding-top: 10px;
}
#contactForm input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 4px;
}
#contactForm button {
    background-color: #06B6D4;
    color: white;
    padding: 10px 20px;
    border: 2px solid #ffffff;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    display: inline;
}
#registrationForm {
    background-color: #c8ce62;
    margin: 20%;
    padding: 20px;
    border-radius: 5px;
}
.button-container-contact {
    display: flex;
    justify-content: center;
}